<%= form_tag(number_index_path, :method => 'post') do %>
  <p>
    Numarayı gir
    <br/>
    <%= number_field_tag "no" %>
  </p>
  <p>
    <%= submit_tag "Submit", class: "button" %>
  </p>
<% end %>


<% if flash[:error] %>
  <h1 class="error"><%= flash[:error] %></h1>
<% end %>

<% if flash[:notice] %>
  <h1 class="error"><%= flash[:notice] %></h1>
<% end %>


<%= @nos %>
